/* main color */
$mainColor: #313454;

/* point color */
$pointColor: #e84545;

/* font-size */
$defaultFont: 14px;

/* content gray font color */
$descolor: #6c7279;

/* btn */
$btnpaddig: 19px 52px;
